
    <header th:fragment="header">
        <link rel="stylesheet" type="text/css" th:href="@{/css/admin/header.css}">
        <div class="logo">
            <div class="logo-icon">
                <p>P</p>
            </div>
            <div class="logo-text">
                <span>Pet</span><span>food</span>
            </div>
        </div>
        <div class="header-container">
            <form action="#" class="header-search-bar">
                <input name="txtHeaderSearch" placeholder="Search..." type="text">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <span class="menu-btn"><i class="fa-solid fa-bars"></i></span>
            <div class="header-right">
                <div class="avatar">
                    <img src="../img/background.jpg" alt="">
                </div>
                <p class="user-name">
                    administrator
                </p>
            </div>
        </div>
    </header>
