<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/common.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Quản lý tài khoản</title>
</head>
<body>
<div th:replace="~{admin/common/preloader :: preloader}"></div>
<header th:replace="~{admin/common/header :: header}"></header>
<div class="main">
    <aside th:replace="~{admin/common/sidebar :: sidebar}"></aside>
    <div class="container">
        <div class="container-title">
            <h4>Thêm Mới Tài Khoản</h4>
        </div>
        <div class="content-wrapper">
            <form class="form-stype-1">
                <div class="box-group">
                    <label>Tên Người Dùng</label>
                    <div class="input-container">
                        <input type="text" placeholder="Username" >
                        <span class="underline-effect"></span>
                    </div>
                </div>
                <div class="box-group">
                    <label>Mật Khẩu</label>
                    <div class="input-container">
                        <input type="password" placeholder="Password" >
                        <span class="underline-effect"></span>
                    </div>
                </div>
                <div class="box-group">
                    <label>Quyền</label>
                    <div class="input-container">
                        <select id="roles-container"></select>
                    </div>
                </div>
                <div>
                    <a th:href="@{/admin/tai-khoan}"  class="btn-rect-5-10 btn-color-primary">Quay Lại</a>
                    <button type="submit" class="btn-rect-5-10 btn-color-green">Lưu</button>
                </div>
            </form>
        </div>
        <div th:replace="~{admin/common/footer :: footer}" ></div>
    </div>
    <script>
        function fetchRole(){
            $.ajax({
               url:'/api/roles',
               type:'GET',
               dataType:'json',
               success: function(data){
                   displayRole(data._embedded.roles);
               },error: function(xhr,status, error){
                    console.error('failed: ',status,error);
               }
            });
        }

        function displayRole(roles){
            var rolesContainer = $('#roles-container');
            $.each(roles, function(index,role){
                var parts = role._links.self.href.split('/');
                var id = parts[parts.length-1];
                var roleElement = "<option value:'"+id+"' >" + role.roleName + "</option>"
                rolesContainer.append(roleElement);
            });
        }

        $(document).ready(function(){
            fetchRole();
        });

    </script>
</div>
</body>
</html>