@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-color:#85b4d0;
    --side-bar-color:#516673;
}

body{
    font-family: 'Rubik', sans-serif;
}

.main{
    display: flex;
}
/*button common*/
.btn-rect-5-10{
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    text-decoration: none;
    display: inline-block;
    border: none;
    outline: none;
}

.btn-rect-5-10:hover{
    opacity: 0.8;
}

.btn-rect-7-14{
    padding: 7px 14px;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    display: inline-block;
    border: none;
    outline: none;
}

.btn-rect-7-14.active{
    background-color: #13DAF9;
    color: #fff;
}

.btn-rect-7-14.disable{
    pointer-events: none;
}

.btn-rect-7-14:hover{
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
    color: #fff;
}

.btn-color-green{
    background-color: #becfa6;
}

.btn-color-info{
    background-color: #85b4d0;
}

.btn-color-danger{
    background-color: #cbb2ae;
}

.btn-color-primary{
    background-color: #b5a8b9;
}

.container{
    display: flex;
    flex-direction: column;
    flex:1;
}

.container-title{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.container-title h4{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 18px;
}

.content-wrapper{
    background-color: #edf1f5;
    min-height: calc(100vh - 154px);
    padding: 25px;
}

.content{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 25px;
    min-height: 100%;
}

.content-top-bar{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.display-option select{
    width: 60px;
    height: 30px;
    margin: 0 4px;
    border: 1px solid #333;
}

.content-search-bar input{
    height: 30px;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 7px;
    outline: none;
}

.table-container{
    display: contents;
}

.tb-style-1{
    text-align: left;
    border-collapse: collapse;
    margin-top: 16px;
}

.tb-style-1 th,.tb-style-1 td{
    padding: 15px 8px;
    font-size: 14px;
}

.tb-style-1 td{
    border-bottom: 1px solid #e4e7ea;
    color: #797979;
    font-weight: 300;
}

.tb-style-1 th{
    border-bottom: 2px solid #e4e7ea;
    color: #666;
}

.tb-style-1 th i{
    font-size: 12px;
    padding: 4px;
    cursor:pointer;
}

.tb-style-1 tr:last-child td{
    border-bottom: 1px solid #333;
}

.content-bottom-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.pagination{
    gap: 8px;
}

/*for form input*/
.form-stype-1{
    width: 66%;
    padding: 25px;
    background-color: white;
    margin: 0 auto;
}

.form-stype-1 .box-group{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-stype-1 .box-group label{
    color: #686868;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 0 10px;
}

.form-stype-1 .input-container{
    width: 100%;
}

.form-stype-1 .box-group input,
.form-stype-1 .box-group select {
    line-height: 38px;
    height: 38px;
    border: none;
    border-bottom: 1px solid #d2d5d9;
    outline: none;
    color: #565656;
    padding: 0 10px;
    width: 100%;
}

.form-stype-1 .box-group select{
    padding: 0 5px;
}

.form-stype-1 .box-group .input-container .underline-effect{
    display: block;
    background-color: #b5a8b9;
    height: 2px;
    width: 100%;
    max-width: 0px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease-in-out .3s;
}

.form-stype-1 .box-group .input-container input:focus + .underline-effect{
    max-width: 1000px;
}

@media screen and (max-width:740px) {
    .main{
        flex-direction: column;
    }
    .content-top-bar{
        flex-direction: column;
        gap: 12px;
    }

    .table-container{
        display: block;
        max-width: 100%;
        overflow-x: scroll;
    }

    .action-container{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .content-bottom-bar{
        flex-direction: column;
        gap: 8px;
    }

    .content-bottom-bar span{
        margin-left: 14px;
    }

    .form-stype-1{
        width:100%;
    }
}