header{
    background-color: var(--header-color);
    height: 60px;
    display: flex;
    align-items: center;
}

.logo{
    width: 220px;
    background-color: #77a2bb;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 24px;
}

.logo-icon{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.logo-icon p{
    line-height: 40px;
    font-size: 24px;
    font-weight: 800;
    color: #77a2bb;
}

.logo-text{
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo-text span:first-child{
    font-weight: 700;
}

.logo-text span:last-child{
    font-weight: 300;
}

.header-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-btn{
    display: none;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 16px;
    color: var(--side-bar-color);
}

.header-search-bar{
    position: relative;
    width: fit-content;
    margin-left: 16px;
}
.header-search-bar input{
    height: 30px;
    padding: 7px 40px 7px 20px;
    font-size: 13px;
    color: #797979;
    width: 180px;
    border: none;
    border-radius: 24px;
    outline: none;
    transition: all ease-in-out .4s;
}

.header-search-bar input:focus{
    width: 280px;
}

.header-search-bar button{
    border: none;
    font-size: 14px;
    color: #797979;
    height: 30px;
    width: 30px;
    background:transparent;
    position: absolute;
    right: 0px;
    top: 0;
    cursor: pointer;
    line-height: 30px;
}

.header-right{
    margin-right: 16px;
    display: flex;
    gap:12px;
}

.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img{
    height: 100%;
}

.user-name{
    line-height: 40px;
    text-transform: capitalize;
    font-size: 14px;
    color: #fff;
}

@media screen and (max-width:740px) {
    .logo{
        width: fit-content;
    }

    .menu-btn{
        display: inline-block;
    }

    .logo-text, .header-search-bar{
        display: none;
    }
}